@layout('app')
@section('content')
	<form action="{{ route('UserController.store') }}" method="POST">
		{{ csrfField() }}
		Nombre: <input type="text" name="nameUser" />
		Descripcion: <input type="text" name="passwordUser" />
		Status: 
		<select name="statusUser" id="">
			<option value="1">Activa</option>
			<option value="0">Inactiva</option>
		</select>
		<input type="submit" >
	</form>
@endsection