@layout('app')
@section('content')
	<h1>Esto proviene de la base de datos</h1>
	@each(user in users)
		<ul>
			<li>{{ user.nameUser }}</li>
			<li> {{ user.passwordUser }} </li>
			<li> {{ user.statusUser }} </li>
			<li> 
				<a href="{{ route('users.modify', {id: user.id}) }}">
					Modificar el registro: {{ user.id }}
				</a>
			</li>
		</ul>
	@endeach
@endsection