<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	Detalle del usuario:

	<p>{{ detail.nameUser }}</p>
	<p>{{ detail.statusUser }}</p>
</body>
</html>